*.env
/node_modules
/public/hot
/public/.htaccess

/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log


.phpunit.result.cache
/domainracer_server_ip.txt
/htaccessfile.txt
/htaccess_old.txt